#app{
    height:100vh;
}
.square-dot{
    width:100px;
    height:100px;
    display: block;
    background-color: blue;
    position: absolute;
    top: 50px;
    left:0px;
    transition-duration:1000ms;
}
.controller-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}